.header-container__clz {
    background-color: #3c3d41;
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
   
}


.text-header-container__clz {
     padding: 5px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 22px;
    color: brown;
    margin-top: 15px;
}
.nav-item {
    padding: 5px;
   color: rgb(107, 103, 103);
   font-family: 'Recursive', sans-serif;
   font-size: 18px;
   font-weight: 50px;
   margin-top: 5px;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; ;
    line-height: 40px;
}
.logo {
    background-image: url(./aures.png);
    width: 45px;
    height: 45px;
}
.img{
    width: 80px;
    height: 80px;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;

}
